.Cargo {
    width: 100%;
    height: calc(100vh - 64px);
    padding: 20px;
    background-color: antiquewhite;
    overflow: auto;
    .Col {
        .Card {
            height: 100%;
            .grid {
                width: 100%;
                text-align: center;
                cursor: pointer;
            }

            .goods {
                text-align: left;
                width: 50%;
            }
        }
    }
}